/* Front Page 
----------------------------------------- */
.front-page .block-holder .block
  padding: 56px 50px 54px

.reg-page.front-page .block-holder .block
  width: 390px
  height: 390px

.founder-info .position
  margin: 0 0 10px

/* Singles
----------------------------------------- */
.single .info-visual
  position: relative

.single .info-visual.light:after
  background: rgba(255, 255, 255, .5)

.single .info-visual:after
  content: ""
  position: absolute
  left: 0px
  top: 0px
  bottom: 0px
  right: 0px
  z-index: 2

/* Single and Pages
----------------------------------------- */
.page-relative,
.single-relative
  z-index: 3

.page-relative.bio-single
  margin-top: 40px

.btn.btn-default.bio-btn
  position: relative
  margin-top: 95px
  width: 200px

/* Pages 
----------------------------------------- */
.reg-page .info-visual
  padding: 126px 0 0

.reg-page .info-visual h1
  text-align: left
  font-size: 56px
  margin: 15px 0 0 15px !important

.reg-page .page-relative
  align-items: center
  justify-content: center

.block-holder.page-block
  padding-top: 20px

.reg-page .block-holder .block
  width: 360px
  height: 360px
  justify-content: center
  vertical-align: middle
  margin: 0 25px 50px 0

.reg-page h3
  text-transform: none

.reg-page h2
  text-transform: inherit

.breadcrumbs
  padding-bottom: 40px

.page-block p
  line-height: 2em
  color: #373737

.beefy-holder
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  margin-bottom: 20px
  background-color: #999
  padding-left: 20px

.beefy-holder .service
  width: 75%
  color: #fff

.beefy-holder .subPageBtn
  width: 25%
  font-size: 30px
  font-family: "Playfair Display", Times, serif
  font-weight: 400
  background-color: #01bfd0
  color: #fff

.beefy.subPage
  background-color: #205c66
  min-height: 165px
  padding: 22px 0 0
  color: #fff

.beefy.subPage h1,
.beefy.subPage h5
  text-align: center !important

.page.page-blog .beefy.subPage h1
  margin-bottom: 0 !important

.breadcrumbs
  margin-top: 10px
  margin-bottom: 10px
  padding-bottom: 0 !important
  
@media screen and (max-width: 768px)
  .beefy-holder .subPageBtn
    // width 50% -- using white space: normal instead
    font-size 18px
    white-space normal
    vertical-align middle
    line-height 24px
    padding-top 7px
  .service
    font-size 20px
    margin-bottom 24px

/* Sidebar  
----------------------------------------- */
.sidebar .four-blocks .block.dark,
.sidebar .four-blocks .block.light
  margin: 0
  width: 100%
  height: auto

.sidebar .four-blocks .block.dark:focus:after,
.sidebar .four-blocks .block.dark:hover:after
  background-color: rgba(0, 88, 101, .9)

/* General 
----------------------------------------- */
.block .holder
  justify-content: center
  align-items: center
  display: -webkit-inline-flex
  display: -moz-inline-flex
  display: -ms-inline-flex
  display: -o-inline-flex
  display: inline-flex

.block .bio.holder
  display: inherit

.block .read-more
  position: relative
  z-index: 3

.page-blcok .block.dark:focus:after,
.page-block .block.dark:hover:after
  background: transparent

.btn-cta
  text-transform: uppercase

.wp-caption
  border: none !important

.wp-caption-text
  font-size: 9px
  font-weight: 800
  text-align: center

.video-embed
  text-align: center

/* Blog 
----------------------------------------- */
.blog-block
  min-height: 334px
  margin-bottom: 10px
  display: inline-block
  width: 31%
  margin: 0px 8px 19px
  padding: 15
  border: 1px solid #ccc

.meta
  padding: 0 15px

.img-box
  height: 148px
  overflow: hidden

.img-box img
  width: 100%

.page-block p
  line-height: 1.6em
  text-transform: inherit

.cat
  margin-top: 15px
  margin-bottom: 10px

.cat p
  text-transform: uppercase
  font-size: 12px
  font-weight: 700
  color: #ccc

.blog-btn
  padding: 10px 14px 10px 0
  font-size: 13px
  color: #01bfd0

.blog-btn:after
  content: ">"
  margin-left: 5px

.blog-btn:hover
  background-color: transparent

.blog-content-holder
  height: 48px
  margin-bottom: 10px

@media screen and (max-width: 1250px)
  .blog-block
    width: 48%

@media screen and (max-width: 992px)
  .blog-block
    width: 46%
    margin: 0 10px 20px 16px

@media screen and (max-width: 768px)
  .blog-block
    width: 100%
    margin: 0 0px 20px 0px

/* owl Slider 
----------------------------------------- */
.owl-dots
  text-align: center
  margin-top: 15px

.owl-dots .owl-dot
  display: inline-block

.owl-dots span
  background: none repeat scroll 0 0 #000
  border-radius: 20px
  display: block
  height: 12px
  margin: 5px 7px
  opacity: 0.5
  width: 12px

.owl-dot.active span
  background: none repeat scroll 0 0 #fff

/* Sidebar 
----------------------------------------- */
.sidebar h2 a
  color: #fff
.foo 
  color #000