<section class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				 {{ function('yoast_breadcrumb', '<nav id="breadcrumbs" class="main-breadcrumbs">','</nav>', false ) }}
			</div>
		</div>
	</div>
</section>
<section class="beefy subPage info-visual">	
  <div class="container">
    <div class="row">
      <div class="col-md-12 page-relative">
        <h1>{{ post.title }}</h1>
      </div>
    </div>
  </div>
</section>